.App {
  display: flex;
}
.modal{
  background-color: white;
  height: 10rem;
  width: 10rem;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.commonStyle{
  border : 1px solid red;
  padding: 1rem 2rem;
}